<!-- 
<app-event></app-event>

<app-writablesignals></app-writablesignals>
<br>
<app-computedsignals></app-computedsignals>

<app-effect-angular></app-effect-angular>

<app-two-way-binding></app-two-way-binding>

<app-dynamic-styling></app-dynamic-styling>

<app-directive></app-directive>

<h1>Hello</h1>
<app-basic-form></app-basic-form>

<app-advanced-form></app-advanced-form>

<app-template-driven></app-template-driven>

<h2>User List</h2>
<app-user-card name="Alice" email="alice@example.com"></app-user-card>
<app-user-card name="Bob" email="bob@example.com"></app-user-card>
<app-user-card [name]="dynamicUser.name" [email]="dynamicUser.email"></app-user-card>
-->
<h2>Parent Component</h2>
<app-child-component (userEvent)="receiveData($event)"></app-child-component>

<p>Message from Child: {{ message }}</p>
